a.button {
  background-color: var(--color-pink-dark);
  font: var(--font-button);
  border-radius: 0.5rem;
  margin-block: 0.5625rem;
  height: 2.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  & span {
    z-index: 1;
  }

  &:hover::after {
    scale: 1;
    width: 100%;
    border-radius: 0.5rem;
    background: var(--color-pink-base);
  }

  &::after {
    content: "";
    position: absolute;

    width: calc(100% / 2);
    height: inherit;

    border-radius: 50%;
    background: #9547a5;

    scale: 0;
    transition: scale 500ms;
  }
}
