section#hero {
  height: 59.25rem;
  position: relative;

  & header {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 10rem 0 10rem;
    & div.button-wrapper {
      width: 4.875rem;
      margin-block: 0.5625rem;
    }
  }

  & div.text-container {
    padding-top: 164px;
    width: 41rem;
    margin: auto;

    & h1 {
      text-align: center;
      font: var(--font-title-lg);
    }

    & div.inner-text-container {
      max-width: 558px;
      margin: auto;
      padding-top: 2rem;

      & p {
        font: var(--font-body-lg);
        text-align: center;
      }
    }
  }

  #hero-background {
    background: url(../assets/hero-background-gradient.svg) top center/cover
      no-repeat;

    position: absolute;
    inset: 0;

    opacity: 0;
    animation: appear 1s forwards;

    z-index: -1;

    &::after {
      content: "";

      background: url(../assets/hero-background.svg) top center/cover no-repeat;

      position: absolute;
      inset: 0;

      height: 100%;

      opacity: 0;
      animation: appear 2s 500ms forwards;
    }
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
